DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#FOR OTP VALIDATION
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=5
OTP_RESEND_COOLDOWN_SECONDS=60

#EMAIL SETTINGS 
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=SecureAuth <your_email@gmail.com>